.Meta {
  margin-top: 10px;
  width: 100%;
}

.TextArea {
  margin-top: 10px;
  height: 150px;
  color: white;
  background-color: transparent;
  resize: none;
  font-size: 1.3em;
  //border: 1px floralwhite solid;
  width: 96.5%;
  margin: {
    left: auto;
    right: auto;
  }
}

.Button {
  width: 90%;
  height: 1.8em;
}
