.button {
  display: inline-flex;
  padding: 0;
  background: #1976d2;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #1565c0;
}
.button:disabled {
  background: #4a4a4a;
}

.button__text__no__download,
.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  color: #fff;
  height: 100%;
}

.button__text__no__download {
  width: 100%;
}

.button__text {
  width: 80%;
}

.button__text__no__download,
.button__text {
  font-size: 1em !important;
  line-height: 1.75;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.button__icon {
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  width: 20%;
}
